wk-bg = #eee;
wk-text = #444;
wk-text-hover = #888;

wk-btn = #444;
wk-btn-text = #fff;
wk-btn-hover = #888;
wk-btn-active = #222;

wk-border = #999;

wk-img-bg = #999;
wk-img-grad = radial-gradient(#ccc, #999);

wk-border-radius = 5px;

wk-font = 'Helvetica Neue', Helvetica, Arial, sans-serif;