@import 'wirekit'

.sample {

	.navigation {

		.right-menu {
			width: 100%;
			text-align: right;
			position: relative;
			top: 0;
			right: 0;
			padding: 1em;
			font-size: 10pt;
			display: none;
			overflow-x: hidden;

			@media screen and (min-width: 600px) {
				display: block;
			}
		}

		.menu {
			width: 100%;
			display: none;

			@media screen and (min-width: 600px) {
				display: block;
			}

			li {
				padding: 1em 0 1em 0;
				width: 20%;
			}
		}

		.narrow-menu {
			background: wk-btn;
			height: 3.5em;

			li {
				margin: 0.5em 0 0 0;
				position: absolute;
				padding: 0.1em 0 0 0;
				color: wk-btn-text;
				
			}

			li:nth-of-type(1), li:nth-of-type(3) {
				width: 32px;
				height: 32px;
			}

			li:nth-of-type(1) {
				left: 0.5em;
			}

			li:nth-of-type(2) {
				font-size: 14pt;
				left: 2.5em;
			}

			li:nth-of-type(3) {
				right: 0.75em;
			}

			@media screen and (min-width: 600px) {
				display: none;
			}
		}
	}

	.home {

		position: relative;
		width: 100%;

		header {
			position: relative;
			margin: 1px 0 0 0;
			width: 100%;
			height: 400px;
			background: wk-img-grad;

			.left {

				position: absolute;
				text-align: center;
				width: 100%;

				h1, h2 {
					margin: 60px 0 20px 0;
				}

				h1 {
					display: none;
				}

				@media screen and (min-width: 600px) {
					top: 50%;
					left: 10%;
					margin: -120px 0 0 0;
					width: auto;
					text-align: left;

					h1 {
						display: block;
					}

					h1, h2, button {
						margin: 20px 0 20px 0;
					}
				}
				
				@media screen and (min-width: 800px) {
					left: 15%;
				}

				

				
			}

			.image {

				position: absolute;
				left: 50%;
				top: 50%;

				width: 120px;
				height: 120px;
				margin: 20px 0 0 -60px;
				
				@media screen and (min-width: 600px) {
					left: auto;
					right: 10%;
					width: 200px;
					height: 200px;
					margin: -100px 0 0 0;
				}

				@media screen and (min-width: 800px) {
					right: 15%;
					
				}

				
				border-radius: 100px;
				
				border: 4px solid wk-border;
			}
		}

		h4 {
			margin: 30px 0 12px 30px;

			@media screen and (min-width: 1024px) {
				margin: 30px 0 12px 40px;
			}
		}

		.right-menu {
			margin: 1em 30px 1em 30px;

			@media screen and (min-width: 600px) {
				position: relative;
				text-align: right;
				margin: -28px 17px 8px 0px;
			}

			@media screen and (min-width: 1024px) {
				margin: -30px 27px 8px 0px;
			}
		}

		.video-list {
			position: relative;
			left: 20px;
			width: calc(100% - 40px);

			> li {
				float: left;
				width: 50%;
				padding: 10px;
				margin: 0 0 10px 0;

				@media screen and (min-width: 1024px) {
					padding: 20px;
				}

				div {
					position: relative;
				}

				h5 {
					font-weight: 600;
					margin: 0.6em 0 0.2em 0;
					font-size: 11pt;
				}

				ul {
					width: 100%;

					li {
						float: left;
						margin: 0.2em 0 0 0;
						font-size: 9pt;
						margin-right 1em;
					}
				}
			}

			> li:nth-of-type(5n-4), > li:nth-of-type(5n-3) {
		    	width: 100%;

		    	@media screen and (min-width: 700px) {
		    		width: 50%;
		    	}
		    }

		    > li:nth-of-type(5n-2), > li:nth-of-type(5n-1), > li:nth-of-type(5n) {
		    	width: 100%;

		    	@media screen and (min-width: 700px) {
		    		width: 33.33%;
		    	}
		    }

			.aspectFiller {
				width: 100%;
				height: auto;
			}

			.video {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
		}
	}
}