@import 'wirekit'

.content {
	margin: 80px 0 0 20px;
}

.content > * {
	margin: 20px;
}

.ui-demo {

	.menu {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		margin: 0;

		li {
			width: 25%;
		}
	}

	.image {
		width: 300px;
		height: 200px;
	}

	.video {
		width: 320px;
		height: 180px;
	}

	.profile {
		width: 80px;
		height: 80px;
	}

	input {
		width: 200px;
	}
}
