@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600");
body {
  background-color: #eee;
  margin: 0;
}
.wirekit * {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 11pt;
}
.wirekit .clear {
  clear: both;
}
.wirekit ul {
  list-style-type: none;
  padding: 0;
}
.wirekit a {
  color: inherit;
}
.wirekit a:hover {
  color: #888;
}
.wirekit h1 {
  font-weight: normal;
  font-size: 50px;
  margin: 0;
}
.wirekit h2 {
  font-weight: normal;
  font-size: 25px;
  margin: 0;
}
.wirekit h3 {
  font-weight: normal;
  font-size: 20px;
  margin: 0;
}
.wirekit h4 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
}
.wirekit h5 {
  font-weight: normal;
  font-size: 13px;
  margin: 0;
}
.wirekit h6 {
  font-weight: bold;
  font-size: 11px;
  margin: 0;
}
.wirekit button,
.wirekit select {
  border: 0;
  color: #fff;
  background-color: #444;
  padding: 0.45em 2em 0.55em 2em;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
.wirekit button:hover,
.wirekit select:hover {
  cursor: pointer;
}
.wirekit button:hover {
  background-color: #888;
}
.wirekit input[type=text] {
  border: 0;
  padding: 0.6em;
  outline: none;
  border: 1px solid transparent;
  color: #444;
}
.wirekit input[type=text]:focus {
  border: 1px solid #999;
}
.wirekit .menu li {
  display: block;
  float: left;
  color: #fff;
  background-color: #444;
  margin: 0;
  line-height: 50px;
  border-right: 1px solid #eee;
  text-align: center;
}
.wirekit .menu li:hover {
  background-color: #888;
  cursor: pointer;
}
.wirekit .menu li.selected {
  background-color: #222;
  font-weight: bold;
}
.wirekit .text-menu li {
  padding: 0.1em 0em 0.1em 0em;
  margin: 0 1em 0 0;
  display: inline-block;
  border-bottom: 1px solid transparent;
}
.wirekit .text-menu li:hover {
  border-bottom: 1px solid rgba(68,68,68,0.4);
  cursor: pointer;
}
.wirekit .text-menu li.selected {
  border-bottom: 1px solid #444;
}
.wirekit .graphic {
  background: -webkit-radial-gradient(#ccc, #999);
  background: -moz-radial-gradient(#ccc, #999);
  background: -o-radial-gradient(#ccc, #999);
  background: -ms-radial-gradient(#ccc, #999);
  background: radial-gradient(#ccc, #999);
}
.wirekit .image,
.wirekit .video {
  background: -webkit-radial-gradient(#ccc, #999);
  background: -moz-radial-gradient(#ccc, #999);
  background: -o-radial-gradient(#ccc, #999);
  background: -ms-radial-gradient(#ccc, #999);
  background: radial-gradient(#ccc, #999);
}
.wirekit .image:after,
.wirekit .video:after {
  position: relative;
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  -webkit-background-size: 25%;
  -moz-background-size: 25%;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center;
}
.wirekit .image:after {
  background-image: url("../assets/image.png");
}
.wirekit .video:after {
  background-image: url("../assets/play.png");
}
.wirekit .profile {
  background-color: #999;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-image: url("../assets/profile.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  border: 2px solid #999;
}
.wirekit .dot {
  background-color: #444;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  width: 20px;
  height: 20px;
}
.wirekit .dot:hover {
  cursor: pointer;
  background-color: #888;
}
.wirekit .external-link:after {
  display: inline-block;
  content: '';
  width: 16px;
  height: 16px;
  margin: -4px 0 0 3px;
  vertical-align: middle;
  background-image: url("../assets/icons/svg/forward.svg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
}
.wirekit .search {
  background-image: url("../assets/icons/svg/search-white.svg");
  background-position: center;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.wirekit .menu-icon {
  background-image: url("../assets/icons/svg/list-white.svg");
  background-position: center;
  -webkit-background-size: 24px 24px;
  -moz-background-size: 24px 24px;
  background-size: 24px 24px;
  background-repeat: no-repeat;
}
.sample .navigation .right-menu {
  width: 100%;
  text-align: right;
  position: relative;
  top: 0;
  right: 0;
  padding: 1em;
  font-size: 10pt;
  display: none;
  overflow-x: hidden;
}
@media screen and (min-width: 600px) {
  .sample .navigation .right-menu {
    display: block;
  }
}
.sample .navigation .menu {
  width: 100%;
  display: none;
}
@media screen and (min-width: 600px) {
  .sample .navigation .menu {
    display: block;
  }
}
.sample .navigation .menu li {
  padding: 1em 0 1em 0;
  width: 20%;
}
.sample .navigation .narrow-menu {
  background: #444;
  height: 3.5em;
}
.sample .navigation .narrow-menu li {
  margin: 0.5em 0 0 0;
  position: absolute;
  padding: 0.1em 0 0 0;
  color: #fff;
}
.sample .navigation .narrow-menu li:nth-of-type(1),
.sample .navigation .narrow-menu li:nth-of-type(3) {
  width: 32px;
  height: 32px;
}
.sample .navigation .narrow-menu li:nth-of-type(1) {
  left: 0.5em;
}
.sample .navigation .narrow-menu li:nth-of-type(2) {
  font-size: 14pt;
  left: 2.5em;
}
.sample .navigation .narrow-menu li:nth-of-type(3) {
  right: 0.75em;
}
@media screen and (min-width: 600px) {
  .sample .navigation .narrow-menu {
    display: none;
  }
}
.sample .home {
  position: relative;
  width: 100%;
}
.sample .home header {
  position: relative;
  margin: 1px 0 0 0;
  width: 100%;
  height: 400px;
  background: -webkit-radial-gradient(#ccc, #999);
  background: -moz-radial-gradient(#ccc, #999);
  background: -o-radial-gradient(#ccc, #999);
  background: -ms-radial-gradient(#ccc, #999);
  background: radial-gradient(#ccc, #999);
}
.sample .home header .left {
  position: absolute;
  text-align: center;
  width: 100%;
}
.sample .home header .left h1,
.sample .home header .left h2 {
  margin: 60px 0 20px 0;
}
.sample .home header .left h1 {
  display: none;
}
@media screen and (min-width: 600px) {
  .sample .home header .left {
    top: 50%;
    left: 10%;
    margin: -120px 0 0 0;
    width: auto;
    text-align: left;
  }
  .sample .home header .left h1 {
    display: block;
  }
  .sample .home header .left h1,
  .sample .home header .left h2,
  .sample .home header .left button {
    margin: 20px 0 20px 0;
  }
}
@media screen and (min-width: 800px) {
  .sample .home header .left {
    left: 15%;
  }
}
.sample .home header .image {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: 20px 0 0 -60px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  border: 4px solid #999;
}
@media screen and (min-width: 600px) {
  .sample .home header .image {
    left: auto;
    right: 10%;
    width: 200px;
    height: 200px;
    margin: -100px 0 0 0;
  }
}
@media screen and (min-width: 800px) {
  .sample .home header .image {
    right: 15%;
  }
}
.sample .home h4 {
  margin: 30px 0 12px 30px;
}
@media screen and (min-width: 1024px) {
  .sample .home h4 {
    margin: 30px 0 12px 40px;
  }
}
.sample .home .right-menu {
  margin: 1em 30px 1em 30px;
}
@media screen and (min-width: 600px) {
  .sample .home .right-menu {
    position: relative;
    text-align: right;
    margin: -28px 17px 8px 0px;
  }
}
@media screen and (min-width: 1024px) {
  .sample .home .right-menu {
    margin: -30px 27px 8px 0px;
  }
}
.sample .home .video-list {
  position: relative;
  left: 20px;
  width: calc(100% - 40px);
}
.sample .home .video-list > li {
  float: left;
  width: 50%;
  padding: 10px;
  margin: 0 0 10px 0;
}
@media screen and (min-width: 1024px) {
  .sample .home .video-list > li {
    padding: 20px;
  }
}
.sample .home .video-list > li div {
  position: relative;
}
.sample .home .video-list > li h5 {
  font-weight: 600;
  margin: 0.6em 0 0.2em 0;
  font-size: 11pt;
}
.sample .home .video-list > li ul {
  width: 100%;
}
.sample .home .video-list > li ul li {
  float: left;
  margin: 0.2em 0 0 0;
  font-size: 9pt;
  margin-right: 1em;
}
.sample .home .video-list > li:nth-of-type(5n-4),
.sample .home .video-list > li:nth-of-type(5n-3) {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .sample .home .video-list > li:nth-of-type(5n-4),
  .sample .home .video-list > li:nth-of-type(5n-3) {
    width: 50%;
  }
}
.sample .home .video-list > li:nth-of-type(5n-2),
.sample .home .video-list > li:nth-of-type(5n-1),
.sample .home .video-list > li:nth-of-type(5n) {
  width: 100%;
}
@media screen and (min-width: 700px) {
  .sample .home .video-list > li:nth-of-type(5n-2),
  .sample .home .video-list > li:nth-of-type(5n-1),
  .sample .home .video-list > li:nth-of-type(5n) {
    width: 33.33%;
  }
}
.sample .home .video-list .aspectFiller {
  width: 100%;
  height: auto;
}
.sample .home .video-list .video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
